.nav {
    grid-area: nav;
    background: #717744;
    color: #FFFDFB;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: montserrat, sans-serif;
}

.app-name, .user-details{
    display: flex;
    align-items: center;
    gap: 10px
}

.app-name h1{
    font-size: 26px;
}

.user-details{
    width: 180px;
}

.user-details h2{
    font-size: 18px;
}
